.mainVisual {
  padding: 0 20px 40px 20px;
  background-color: #fff;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(142.29deg, #86F3BC 21.8%, #8CDDE3 73.22%);
    opacity: 0.2;
    transform: rotate(-180deg);

    @include dark-mode {
      background: linear-gradient(136.21deg, #00504A 10.52%, #013733 55.41%);
      opacity: 1;
    }
  }

  img {
    @include center-block;
    position: relative;
    z-index: 999;
  }

  .visualImg {
    @include max-width-center(375px);
    margin-bottom: 16px;
    position: relative;

    img {
      display: block;
      width: 100%;
    }

    #airMotion {
      position: absolute;
      top: 26.86%;
      left: 50.79%;
      width: 53.47%;
      max-width: 200px;
      z-index: 999;

      @media screen and (max-width: 430px) {
        max-width: 54%;
      }
    }
  }

  .visualImg2 {
    @include max-width-center(335px);

    img:first-child {
      width: 79px;
    }

    img:last-child {
      width: 100%;
      max-width: 335px;
      margin: 16px auto;
    }
  }

  .visual_info {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;

    div {
      margin-bottom: 16px;

      img {
        width: 100%;
        max-width: 335px;
      }

      &.lastList {
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 13px;
      color: var(--sys-color-on-surface-variant);
      text-align: center;
      position: relative;

      @include dark-mode {
        color: #ffffff;
      }
    }
  }
}