.privacy_wrap {
  font-size: 14px;

  .btn_close {
    float: right;
    padding: 12px;
    margin: 4px 4px 4px 0;
  }

  h1 {
    clear: both;
    text-align: center;
    margin: 12px 0;
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 11px;
  }

  section {
    padding: 0 20px;
  }

  p {
    margin-bottom: 12px;
  }

  ul li {
    margin-bottom: 12px;

    b {
      display: block;
      margin-bottom: 5px;
    }
  }

  .table_area {
    margin-top: 12px;
    background: var(--sys-color-surface);
    padding: 0 20px;
    border-radius: 10px;

    table {
      width: 100%;
      margin-bottom: 12px;

      thead tr th {
        text-align: center;
        height: 35px;
        font-size: 13px;
      }

      tbody tr td {
        vertical-align: top;
        padding: 10px 0;
        border-top: 1px solid var(--sys-color-outline);
        font-size: 13px;
      }
    }
  }

  .clause_text {
    color: var(--sys-color-on-surface-variant);
    margin-bottom: 12px;
  }

  .privacy_list {
    padding-left: 20px;
    margin-bottom: 12px;
    color: var(--sys-color-on-surface-variant);
    position: Relative;

    li {
      position: relative;
      margin-bottom: 0;

      &:before {
        @include bullet-point($width: 2px, $height: 2px, $background: var(--sys-color-on-surface-variant), $left: -10px, $top: 8px, $radius: 100%);
      }
    }
  }
}