@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.slider-middle-highlight {
  .slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 1340px;
    overflow: hidden;
    margin: auto;
    padding: 20px 0;
    margin-bottom: 20px;

    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      background-color: #fff;
      top: 0;
      width: 50px;
      height: 100%;
      z-index: 3;
      @include mobile { display: none; }
    }
    &::before {
      left: 0;
      background: linear-gradient(to left, rgba(241, 241, 243, 0) 7%, #f1f1f3 92%);
    }
    &::after {
      right: 0;
      background: linear-gradient(to right, rgba(241, 241, 243, 0) 7%, #f1f1f3 92%);
    }

    .slider-content {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;

      li {
        position: relative;
        width: calc(25% - 19px);
        margin-right: 19px;
        flex: 1 0 auto;
        border-radius: 24px;
        overflow: hidden;
        transition: box-shadow .5s;
        background-color: #ffffff;

        @include notebook { width: calc(30% - 19px); }
        @include mobile { width: calc(84% - 19px); }

        &:first-child { margin-left: 10px; }
        &.on {
          box-shadow: 0px 4px 18px rgba(0, 0, 0, .16);
          &::after { background-color: rgba(0, 0, 0, 0); }
        }
        &::after {
          content: '';
          position: absolute;
          background-color: rgba(0, 0, 0, .33);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: .5s;
        }
        img { display: block; width: 100%; opacity: 1; }
      }
    }

    .slider-arrow {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      z-index: 5;
      @include mobile {
        button { display: block; width: 30px; height: 100%; img { display: none; } }
      }
    }
  }
}