@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.dr_service_sec1 {
  padding-bottom: 0;

  h1 {
    font-size: 40px;
    margin-bottom: 21px;
    font-weight: bold;
    @include mobile { font-size: 6.6667vw; margin-bottom: 5vw; }

    span {
      display: block;
      font-size: 24px;
      font-weight: bold;
      color: $point-color;
      text-align: center;
      margin-bottom: 8px;
      @include mobile { font-size: 5.2778vw; margin-bottom: 0.6944vw; }
    }
  }

  p {
    font-size: 20px;
    @include mobile { font-size: 3.8889vw; }
  }

  .imgWrap {
    width: 100%;
    max-width: 845px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    background: url(../../sec1_bg_img.png) center bottom no-repeat; /* 경로 체크 */
    background-size: 100%;

    img {
      width: 100%;
      max-width: 845px;
    }
  }
}