@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.dr_service_sec2 {
  background: $bg-gray;

  h2 + p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 36px;
    @include mobile {
      font-size: 3.8889vw;
      line-height: inherit;
      margin-bottom: calc(13.3333vw - 20px);
    }
  }

  .text-list {
    text-align: left;
  }
}