
// 1. layout
@use 'layout/common';

// 2. Abstracts (Variables)
@use 'abstract/variables';
@use 'abstract/mixins';

// 3. pages
@use 'pages/sec1_intro';
@use 'pages/sec2_guide';
@use 'pages/sec3_mission';
@use 'pages/sec4_products';
@use 'pages/sec5_steps';
@use 'pages/component_slider';
