@charset "UTF-8";

// 1. Abstracts
@import 'abstracts/variables';

// 2. Base
@import 'base/reset';
@import 'base/typography';

// 3. Layout
@import 'layout/container';
@import 'layout/footer';

// 4. Components
@import 'components/product';
@import 'components/form';
@import 'components/agreement';

// 5. Pages
@import 'pages/payment';