/* reset */
* {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: $white;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0 none;
  padding: 0;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

input,
select,
textarea,
button {
  vertical-align: middle;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
    border: 0;
  }
}

th,
td {
  font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  display: block;
}

strong {
  font-weight: bold;
}

mark {
  background: none;
}

table {
  border-collapse: collapse;
}

caption {
  display: none;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}