@charset "UTF-8";
@use '../abstracts/functions' as *;

@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

// Typography
body {
  font-family: $font-roboto;
  font-size: 100%;
  line-height: 26px;
  color: #222;
  font-weight: normal;
  letter-spacing: -0.25px;
  word-break: keep-all;
}

input,
select,
textarea,
button {
  font-family: $font-roboto;
  font-size: rem(16);
}

a {
  text-decoration: none;
  color: #222;
  &:focus {
    outline: none !important;
  }
}

h1.title {
  font-size: rem(24);
  line-height: 32px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 25px;
  background-color: $black;
  color: $white;
  font-weight: 500;
}