@use '../abstracts/variables' as *;

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: $color-text-main;
  background-color: $color-bg-base;
  
  line-height: 1.5;
  font-weight: 400;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  word-break: keep-all; 
}

.blind, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.wrap {
  padding-bottom: 92px;
}

.thinQ_TV_reward img.animated,
.thinQ_TV_Info div > img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  opacity: 0;
}