.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 45px 0;

  @media screen and (min-width: 320px) and (max-width: 680px) {
    padding: 30px 20px;
  }
}