@use '../abstracts/functions' as *;

footer {
  background: $black;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 30px 0 40px;
  color: rgba(255, 255, 255, 0.8);

  p.title {
    color: $white;
    font-size: rem(16);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;

    .detail {
      font-size: rem(14);
      line-height: 24px;
      width: 50%;
      float: left;

      li span {
        color: $white;
        display: inline-block;
        width: 130px;
        position: relative;
        margin-right: 10px;

        &:before {
          content: "";
          display: block;
          width: 2px;
          height: 15px;
          position: absolute;
          top: 5px;
          right: 0;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }

    .address {
      font-size: rem(13);
      line-height: 24px;

      li {
        b {
          margin-right: 10px;
          display: inline-block;
          color: $white;

          &.ml-10 {
            margin-left: 10px;
          }
        }

        a {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 680px) {
    padding: 20px;

    .inner .detail {
      float: none;
      width: 100%;
      margin-bottom: 25px;
    }
  }
}