@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

.thinQ_TV_Info {
  text-align: center;

  div {
    padding: 40px 0 20px;

    &:nth-child(odd) {
      background-color: $color-bg-white;
    }

    h2 {
      color: $color-text-gray;
      font-size: rem(24);
      margin-bottom: 35px;

      span {
        color: $color-text-main;
      }
    }

    span.step {
      display: block;
      width: 74px;
      line-height: 26px;
      color: #fff;
      background: $color-primary;
      font-size: rem(12);
      margin: 0 auto 10px;
      border-radius: 50px;
    }

    h3 {
      font-size: rem(20);
      margin-bottom: 18px;
    }

    p {
      margin-bottom: 10px;
    }

    ul {
      color: $color-text-desc;
      font-size: rem(14);
      margin-bottom: 10px;

      li {
        &:before {
          content: '';
          display: inline-block;
          width: 2px;
          height: 2px;
          background: $color-text-desc;
          border-radius: 50%;
          margin-right: 5px;
          position: relative;
          top: -5px;
        }
      }
    }

    ol {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 310px;
      margin: 24px auto 0;

      li {
        width: 50%;
        opacity: 0;

        img {
          width: 100%;
          max-width: 140px;
          margin-bottom: 10px;
        }

        span {
          display: inline-block;
          background: $color-badge-dark;
          color: #fff;
          border-radius: 50%;
          font-size: rem(14);
          width: 20px;
          height: 20px;
          padding: .9px 0 0 0;
          margin-right: 7px;
        }

        // 애니메이션 딜레이 설정
        &:first-child { animation-delay: .2s; }
        &:nth-child(2) { animation-delay: .4s; }
        &:nth-child(3) { animation-delay: .6s; }
        &:nth-child(4) { animation-delay: .8s; }
      }
    }
  }

  div:first-child ul li::before {
    display: none;
  }
}