@use '../abstracts/functions' as *;

.thinQ-youtube {
  p {
    font-size: rem(14);
    margin-top: 8px;
    color: var(--sys-color-on-surface-variant);
  }

  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}