@use '../abstracts/functions' as *;

.agree-wrap {
  box-sizing: border-box;
  padding: 0 20px;
  border: 1px solid rgb(221, 221, 221);
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: $bg-light;

  .title {
    font-weight: bold;
    margin: 15px 0 10px 0;
    font-size: rem(16);
  }

  .inner {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;

    .chkbox_group {
      width: 100%;

      div {
        line-height: 34px;
        vertical-align: middle;
        text-indent: 3px;
        position: relative;
        float: none;
        width: 100%;

        &:first-child {
          margin-bottom: 7px;
        }
      }

      input[type="checkbox"] {
        &#chk_all,
        &.chk {
          display: none;
        }
        
        &.chk {
          line-height: 36px;
        }

        &#chk_all+label span {
          display: inline-block;
          width: 25px;
          height: 25px;
          vertical-align: middle;
          background: url(../images/checkbox-agree-off.png) center no-repeat;
          background-size: 25px;
          margin-top: -2px;
          cursor: pointer;
          opacity: .2;
          margin-right: 5px;
          transition: all ease .3s;
        }

        &.chk+label span {
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          background: url(../images/checkbox-agree.png) top center no-repeat;
          background-size: 20px;
          cursor: pointer;
          opacity: .2;
          margin: 0 5px 0 2px;
          position: relative;
          top: -2px;
          transition: all ease .3s;
        }

        &#chk_all:checked+label span {
          opacity: 1;
        }

        &.chk:checked+label span {
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          background: url(../images/checkbox-agree.png) top center no-repeat;
          background-size: 20px;
          cursor: pointer;
          opacity: 1;
          margin: 0 5px 0 2px;
        }
      }

      .view_more {
        display: block;
        width: 15px;
        height: 15px;
        background: url(../images/select-arrow.png) center center no-repeat;
        background-size: 10px;
        opacity: 0.8;
        transform: rotate(-90deg);
        position: absolute;
        top: 8px;
        right: 0;
        transition: all ease .3s;

        &.active {
          background: url(../images/select-arrow-active.png) center center no-repeat;
          background-size: 10px;
          transform: rotate(0deg);
          opacity: 1;
        }
      }

      .iframe-wrap {
        width: 100%;
        height: auto;
        background-color: #eee;
        box-sizing: border-box;
        padding: 10px;
        display: none;
        border-radius: 10px;

        iframe {
          width: 100%;
          padding: 0;
          margin: 0;
          display: block;
          height: 350px;
        }
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 680px) {
    .inner .chkbox_group div {
      font-size: rem(14);
      line-height: 24px;
    }
  }
}