@use '../abstracts/functions' as *;

.product-wrap {
  width: 100%;
  height: auto;

  .title {
    font-size: rem(22);
    font-weight: 600;
    position: relative;
    box-sizing: border-box;
    padding-left: 15px;
    margin-bottom: 15px;

    &:before {
      content: "";
      display: block;
      width: 5px;
      height: 20px;
      background-color: $black;
      position: absolute;
      left: 0;
      top: 3px;
      border-radius: 5px;
    }
  }

  .detail {
    width: 100%;
    display: table;
    vertical-align: middle;
    margin-bottom: 45px;

    .thumbnail {
      display: table-cell;
      width: 40%;

      img {
        display: block;
        width: auto;
        max-width: 100%;
        box-sizing: border-box;
      }
    }

    .info {
      display: table-cell;
      vertical-align: middle;
      width: 60%;
      font-size: rem(18);
      line-height: 41px;
      box-sizing: border-box;
      padding: 0 0 0 45px;

      b {
        display: inline-block;
        width: 145px;
      }

      li.explanation {
        border: 1px solid $gray-light;
        box-sizing: border-box;
        padding: 15px 20px 12px;
        margin-top: 15px;
        border-radius: 15px;

        div {
          font-size: rem(16);
          line-height: 24px;
          margin-top: 5px;
        }

        b {
          display: block;
          line-height: 26px;
        }

        .box .more {
          width: 100%;
          height: 20px;
          display: block;
          border-top: 1px dashed $gray-light;
          position: relative;
          margin-top: 8px;
          cursor: pointer;

          &:before {
            content: "";
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 10px;
            background: url(../images/select-arrow.png) center center no-repeat;
            background-size: 15px;
            position: absolute;
            top: 10px;
            left: 0;
            transform: rotate(0deg);
            opacity: 0.6;
          }

          &.short:before {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 680px) {
    .detail {
      .thumbnail {
        display: block;
        width: 100%;
        margin-bottom: 15px;
      }

      .info {
        display: block;
        width: 100%;
        padding: 0;
        font-size: rem(16);
        line-height: 28px;
        box-sizing: border-box;
        padding: 0 10px;

        li {
          position: relative;
          padding-left: 120px;

          b {
            display: block;
            width: 120px;
            position: absolute;
            left: 0;
            top: 0;
          }

          &.explanation b {
            position: relative;
          }
        }
      }
    }
  }
}