
// 1. Base
@use 'base/reset';
@use 'base/base';

// 2. Abstracts (Variables)
@use 'abstracts/variables';
@use 'abstracts/mixins' as *;

// 3. Components
@use 'components/logo';
@use 'components/main-visual';
@use 'components/cards';
@use 'components/lists';
@use 'components/buttons';
@use 'components/media';
@use 'components/privacy';
@use 'components/bottomsheet';

// 4. Pages
@use 'pages/outcome';