/* Brand Colors */
$color-primary: #23778E;
$color-point:   #E5554F;

/* Background Colors */
$color-bg-base: #EFF1F4;
$color-bg-white:#ffffff;

/* Text Colors */
$color-text-main: #000000;
$color-text-sub:  #38373D;
$color-text-gray: #606060;
$color-text-desc: #606C80;
$color-text-dim:  rgba(0, 0, 0, 0.54); 

/* Icon/Badge Colors */
$color-badge-dark: #333333;